<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RideJKTV3.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>30754AA3B649D4EE1410FA5E01B995CAAB6B524E</string>
				<key>dateExpires</key>
				<string>2021/6/11</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8368MNUZS2.com.ridejkt.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8368MNUZS2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>8368MNUZS2.com.ridejkt.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>R Fitness.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a0dc3549-c76c-4a30-96ef-e464df04fc7b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ridejkt.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8368MNUZS2</string>
				<key>name</key>
				<string>SEPEDA CEMERLANG JAYA, PT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
