<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RideJKTV3.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>530C1518350285EA7AF7C11007F4FB62F815AB07</string>
				<key>dateExpires</key>
				<string>2021/6/19</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8368MNUZS2.com.ridejkt.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8368MNUZS2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>R Fitness.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>458e8ef9-02bd-46c5-9f5d-8ead2c55a82e</string>
				<key>name</key>
				<string>R Fitness AdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8368MNUZS2</string>
				<key>name</key>
				<string>SEPEDA CEMERLANG JAYA, PT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
